.content-start[b-a2f4l76pv6]{
    width: 60%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: bisque;
}