/* _content/Startup_School_Jojo/Components/Home.razor.rz.scp.css */
.content-start[b-a2f4l76pv6]{
    width: 60%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: bisque;
}
/* _content/Startup_School_Jojo/Components/SideBarItem/Modules.razor.rz.scp.css */
/* _content/Startup_School_Jojo/Layouts/MainLayout.razor.rz.scp.css */
.main[b-9kfpuu91ad]{
    width: 100%;
    display: flex;
    max-height: 100%;
    flex-direction: row;
    overflow: hidden;
    justify-content: stretch;
}
.content[b-9kfpuu91ad]{
    flex-grow: 1;
    overflow: auto;
}
/* _content/Startup_School_Jojo/Layouts/SideBar.razor.rz.scp.css */
.sidebar[b-8ee71wfuzk] {
    display: flex;
    height: 100vh;
}

.sidebar-buttons[b-8ee71wfuzk]{
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    width: 70px;
    justify-content: space-between;
}
.sidebar-group[b-8ee71wfuzk] {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid;
}

.sidebar-settings[b-8ee71wfuzk] {
    border-bottom: 0px solid;
    border-top: 2px solid;
}

.sidebar-pages[b-8ee71wfuzk] {
    border-bottom: 0px solid;
}

.sidebar-page[b-8ee71wfuzk] {
    width: 50px;
    height: auto;
    padding: 5px 0px;
    transition-duration: 250ms;
    transition-property: color;
    &:hover {
        color: white;
    }
}
