@using HashCodeGenerator
@page "/"
@inject NavigationManager NavigationManager

<h3>Генератор Hash-кода</h3>

<input class="black" type="text" bind="@InputString" />
<button @onclick="CreatePage">Создать</button>

@code {
    private string InputString { get; set; } = "ddd";

    private void CreatePage()
    {
        string hashCode = HashCodeGenerator.GenerateHashCode(InputString);
        NavigationManager.NavigateTo(hashCode);
    }
}
<style>
    .black{
        background-color: aqua;
    }
</style>